.menu-item {
    background: #333;
}

.menu-item .title {
    background: #333;
    color: white;
    padding: 5px 0px;
}

.menu-item .title.selected {
    background: #445;
    color: yellow;
    padding: 5px 0px;
}

.menu-item .title:hover {
    background: #666;
    color: red;
}

.menu-item .title a {
    color: inherit;
    text-decoration: none;
}

.menu-item label {
    color: inherit;
}

.menu-item a:hover {
    color: inherit;
}

.menu-item .child-item-container {
    padding-left: 20px;
}