<div class="menu-item">
  <div [ngSwitch]="viewModel.isLinkExternal" class="title" (click)="handleClick()" [ngClass]="{ selected: selectedId == viewModel.id }">
    <a *ngSwitchCase="false" routerLink="{{viewModel.link}}">{{viewModel.title}}</a>
    <a *ngSwitchCase="true" href="{{viewModel.link}}">{{viewModel.title}}</a>
    <label [hidden]="isExpanded || !viewModel.childItems"> +</label>
  </div>
  <div [hidden]="!isExpanded" class="child-item-container" *ngIf="viewModel.childItems">
    <app-side-menu-item 
      *ngFor="let item of viewModel.childItems"
      [viewModel]="item" 
      [selectedId]="selectedId"
      (selectionChanged)="childSelectionChanged($event)"></app-side-menu-item>
  </div>
</div>